.split-sort-code input {
  width: 50px;
  float: left;
}

.has-inline-inputs input {
  display: inline;
}

.split-sort-code span {
  width: 30px;
  float: left;
  padding-top: 6px;
  text-align: center;
}

.left-labels .control-label {
  text-align: left;
}

.has-inline-help {
  width: auto;
}

.has-inline-help .form-control {
  display: inline-block;
}

.input-small {
  width: 80px;
}

.input-medium {
  width: 100px;
}

.normal {
  font-weight: normal;
}
